.header-container {
  display: flex;
  justify-content: space-between;
  background-color: #202020;
  padding: 14px 50px 14px 50px;
}
.link-box {
  display: flex;
  align-items: center;
}
.header-logo {
  height: 30px;
}
.logOut {
  background-color: #4f46e5;
  color: white;
  border-width: 0px;
  font-size: 10px;
  padding: 3px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.links {
  color: white;
  font-size: 12px;
  margin-right: 25px;
}
